.nav-pills{
	//font-family: "Lobster Two";
	font-size: 2rem;
	background: #565E6B;
	margin-bottom: 10%;


	
}
li a{
	color:black;
}
body{
	/*background-color: white;*/
	color: white;
	font-family: "Lobster Two";
}
.pageOne{
	background-image: url("pics/backimg.jpg");
	background-size: cover;
	//height: 800px;
	//margin-top: 0px;
	//margin:auto 0;
	padding-bottom: 10%;

}
.pageTwo{
	background-image: url("pics/backimg2.jpg");
	background-size: cover;
	//height:1400px;
	padding-bottom:5%;
	padding-top: 5%;

}
.pageThree{
	background-image: url("pics/backimg3.jpg");
	background-size: cover;
	height: 1200px;
	padding-top:5%;

}
.pageFour{
	background-image: url("pics/backimg4.jpg");
	background-size: cover;
	//height: 1200px;
	//padding-bottom: 5%;
	padding-top: 5%;
	
}
.block{
	background: black;
	opacity: 0.5;
	display: block;
	//padding:15px;
	border-radius: 20px;
	width:50%;
	margin:0 auto;//center the block div
	

}
h1{
	padding:0;
	font-size: 130px;
	margin:0;
	//font-family: "Lobster Two";

}
#p3 h1{
	font-size: 90px;

}
#p3 h1,h2{
	opacity:0.5;
}
#p2 h1{
	font-size: 100px;
}

.btnlist{
	
}
a.btn-default{
	background: #565E6B;
	border-color: #565E6B;
	color: black;
	text-shadow: none;
	font-size: 1.7rem;
}
#twittericon{
	color: rgb(0,172,237);
}
#facebookicon{
	color: rgb(59,89,163);
}
#stacicon{
	color: #F48024;
}
#linkdeninicon{
	color: #0083BE;
}
#githubicon{
	color: rgb(102,43,129);
}
p{
	font-size: 20px;

}
.footer p{
	font-size:15px;
}
.me{
	margin:0 auto;
	margin-top:25%;
	width: 250px;
}
.ok{
	opacity: 0.5;
}
.edited{
	height:300px;
	width: 600px;
	padding:5%;
}
.paddingBTN{
	//padding:25% 0px;
	margin-bottom: 25px;
	width:200px;
}
.footer {
	background: black;
}
.col-xs-8 h1{
	font-size:70px;
}
#p4 .col-xs-8 a{
	font-size: 30px;
}